h1{
    color:blue;
    text-align:center;
}


table{
    border: 2px solid black;
    border-collapse: collapse;
}
#cell2, #cell1{
    border: none;
}
#cell1{
    border-right: 1px solid gray
}
tr, th, td{
    border: 1px solid gray;
    border-collapse:collapse;
    background-color: solid #b8c8d1;
}

td{
    text-align: center;
}

