h1{
    color:blue;
    text-align:center;
}


table{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: #ddf5ef;
}

tr, th, td{
    border: 1px solid gray;
    border-collapse:collapse;
}

td{
    text-align: center;
}

#cell2, #cell1{
    border: none;
}
#cell1{
    border-right: 1px solid gray
}
